@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0%;
  margin: 0%;
  background-color: #bdfd7b;
  color: black;
}

.container {
  padding: 40px;
  background: #419be0;
}

.slick-slide img {
  margin: auto;
}
